<div id="expenses-filter">
  <table>
    <tr>
      <th></th>
      <th>Min</th>
      <th></th>
      <th>Max</th>
    </tr>

    <tr>
      <th>$</th>
      <td id="amount-low">{{input value=amountLow}}</td>
      <td>to</td>
      <td id="amount-high">{{input value=amountHigh}}</td>
    </tr>

    <tr>
      <th>Date</th>
      <td id="date-low">{{input value=dateLow}}</td>
      <td>to</td>
      <td id="date-high">{{input value=dateHigh}}</td>
    </tr>
  </table>
</div>






<br>
<br>