<h3>Filter</h3>

<div id="expenses-filter">
  <table class="table">
    <tr>
      <th></th>
      <th>Min</th>
      <th></th>
      <th>Max</th>
    </tr>

    <tr>
      <th>$</th>
      <td id="amount-low">{{input value=amountLow}}</td>
      <td>to</td>
      <td id="amount-high">{{input value=amountHigh}}</td>
    </tr>

    <tr>
      <th>Date</th>
      <td id="date-low">{{view "date-field-view" date=dateLow}}</td>
      <td>to</td>
      <td id="date-high">{{view "date-field-view" date=dateHigh}}</td>
    </tr>
  </table>
</div>
