{{#with filterObj}}
  {{partial "filter"}}
{{/with}}

<h3>Expenses</h3>

<table id="expenses-table" class='table'>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Desc</th>
    <th>Amount</th>
    <th>Comment</th>
  </tr>
 
  {{#each filterObj.filtered}}
    <tr>
      {{render "expense" this}}
    </tr>
  {{/each}}

  <tr id="new-expense">
    {{render "new_expense" newExpense editMode=true}}
  </tr>
</table>

{{render "summary" filterObj.filtered}}
